/*reset*/
body{font-family: "Microsoft YaHei","Hiragino Sans GB W3",Tahoma,Arial;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
fieldset,img{border:none;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}/*1、设置每个表格间的边框合并为一个单一的边框，2、设置表格内部填充*/
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
address,caption,cite,code,dfn,em,var,optgroup,strong{font-style:normal;font-weight:normal;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
sup,sub{font-size:100%;vertical-align:baseline;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
a{color:black;}
:link,:visited{text-decoration:none;}

/*文字*/
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.tul{text-decoration:underline;}

/*定位*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.ma{margin:0 auto;}/*ma mc这两个居中需要给块级元素设置宽度才有效*/
.mc{margin-left:auto;margin-right:auto;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.none{display:none;}
.hidden{visibility:hidden;}
.pr{position:relative;}
.pa{position:absolute;}
/*在写HTML代码的时候，发现在Firefox等符合W3C标准的浏览器中，如果有一个DIV作为外部容器，内部的DIV如果设置了float样式，则外部的容器DIV因为内部没有clear，导致不能被撑开。下面4行样式就是为了解决此问题，在外部div中添加class="clearfix"即可*/
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:inline-block;}
* html .clearfix {height:1%;}
.clearfix {display:block;}

/*长度、高度*/
.w{width:100%;}
.h{height:100%;}

/*其它*/
.oh{overflow:hidden;}